/* Page Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 3rem;
}

.hire-btn {
  margin-right: 3rem;
}
.navbar > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  list-style: none;
}

.navbar > ul > li {
  border-radius: 10px;
  border-style: solid;
  /*padding: top right bottom left*/
  padding: 5;
}

.navbar > ul > li a {
  text-decoration: none;
}

h1 {
  color: rgb(174, 114, 40) !important; /* !important overwrites inline css */
}
