/* any external google fonts */

/* resent browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  overflow: hidden; /*if the content is greater than the container, don't create the scroll bar or go outside*/
}

video {
  width: 100vw; /*100viewportwidth*/
  height: 100vh; /*100viewportheight*/
  object-fit: cover;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

header h1 {
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
}

header span {
  font-weight: 800;
  font-size: 6rem;
  display: block;
}

.description {
  position: absolute;
  bottom: 2%;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto; /*margin: 0 auto*/
  background-color: #000;
  border-radius: 15px;
  opacity: 0.5;
  padding: 1.5rem;
}

.description p {
  color: #fff;
  text-align: justify;
  max-width: 42rem;
  margin-inline: auto;
  line-height: 1.5;
}

.copyright {
  font-size: 0.65rem;
}

.copyright a {
  color: #fff;
  text-underline-offset: 1.8px;
}

/* responsive styling starts here */
@media screen and (max-width: 1100px) {
  .description {
    position: absolute;
    width: 91vw;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    margin: auto;
    padding: 0.6rem 1.5rem;
  }
}
